<div class="content mt0" role="main">
    <div class="row">
        <div class="col-sm-6 img-center"><img width="60%" alt="Pokemon Logo"
                src="assets/images/Ash-Pokémon-PNG-1200x2275.jpg" /></div>
        <div class="col-sm-6 text-center">
            <h2>Que bom que você chegou!</h2>
            <p>Está preparado para entrar no mundo fantástico dos Pokemons?!</p>
            <div class="card-container">
                <button routerLink="/home" class="card card-info" target="_blank" rel="noopener">
                    <img id="rocket" width="60" alt="Pokemon Logo"
                        src="assets/images/pokemon-pokebola-png-4-Transparent-Images.png" />
                    <span>Eu escolho você!</span></button>
            </div>
        </div>
    </div>
</div>